@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0a0f0d; /* 深色背景 */
    --foreground: #e0e0e0; /* 浅色文字 */
    --card: #112233; /* 暗蓝色卡片 */
    --card-foreground: #f5f5f5; /* 浅灰色卡片文字 */
    --popover: #1e2d3b; /* 暗色弹窗 */
    --popover-foreground: #ffffff; /* 白色弹窗文字 */
    --primary: #ff0077; /* 鲜亮的粉红色 */
    --primary-foreground: #ffffff; /* 白色文字 */
    --secondary: #00ffff; /* 鲜亮的蓝色 */
    --secondary-foreground: #003344; /* 深色背景 */
    --muted: #7744ff; /* 柔和的紫色 */
    --muted-foreground: #e0e0e0; /* 浅色文字 */
    --accent: #ff00ff; /* 鲜亮的紫红色 */
    --accent-foreground: #ffffff; /* 白色文字 */
    --destructive: #ff5555; /* 鲜亮的红色 */
    --destructive-foreground: #2a2a2a; /* 深色背景 */
    --border: #333333; /* 深色边框 */
    --input: #1a1a1a; /* 深色输入框背景色 */
    --ring: #00ffaa; /* 鲜亮的青色焦点色 */
    --text-color: #f5f5f5; /* 默认浅色文本 */
    --shadow-color: 0, 255, 255; /* 蓝色阴影色 */
    --shadow-intensity1: 0.1;
    --shadow-intensity2: 0.2;
  }

  /* 暗黑模式 (赛博朋克风格不一定需要专门的暗黑模式，但如果需要，可以稍作调整) */
  .dark {
    --background: #0a0f0d; /* 与默认模式相同 */
    --foreground: #e0e0e0;
    --card: #112233;
    --card-foreground: #f5f5f5;
    --popover: #1e2d3b;
    --popover-foreground: #ffffff;
    --primary: #ff0077;
    --primary-foreground: #ffffff;
    --secondary: #00ffff;
    --secondary-foreground: #003344;
    --muted: #7744ff;
    --muted-foreground: #e0e0e0;
    --accent: #ff00ff;
    --accent-hover: #DB03DB;
    --accent-foreground: #ffffff;
    --destructive: #ff5555;
    --destructive-foreground: #2a2a2a;
    --border: #333333;
    --input: #1a1a1a;
    --ring: #00ffaa;
    --text-color: #f5f5f5;
    --shadow-color: 0, 255, 255;
    --shadow-intensity1: 0.1;
    --shadow-intensity2: 0.2;
  }

  body {
    min-height: 100vh; /* Full viewport height */
    background: var(
      --background-color
    ); /* Use CSS variables or direct values */
    font-family: "sans-serif", sans-serif;
    -webkit-font-smoothing: antialiased; /* for smoother fonts on Webkit browsers */
    /* Add any other global styles */
    color: var(--text-color);
  }
  .underline-effect {
    display: inline-block;
    position: relative;
    padding-bottom: 0.5px; /* Adjust space between text and underline */
  }

  .underline-effect::after {
    content: "";
    display: block;
    width: 115%;
    height: 1.5px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
  }
  .border {
    border: 1px solid var(--border);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  .number-input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }
  }
}
